.query-builder {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.query-builder-header {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.query-builder-content {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
  padding-top: 1rem;
}

.input-panel {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.results-panel {
  flex-grow: 1;
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  padding: 1rem;
}
